<!DOCTYPE html>
<html lang="en">
<head>
    <!-- Global site tag (gtag.js) - Google Analytics -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=UA-170833234-1"></script>
    <script>
    window.dataLayer = window.dataLayer || [];
    function gtag(){dataLayer.push(arguments);}
    gtag('js', new Date());

    gtag('config', 'UA-170833234-1');
    </script>


    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>한국어 별명 생성기</title>

    <meta name='description'
      content='한국어 관형어 + 명사로 이루어진 별명 생성기입니다.' />
    <meta name='keywords'
        content='한국어, 별명, 닉네임, 생성기, 관형어' />
    
    <meta property="og:type" content="website">
    <meta property='og:title'
        content='한국어 별명 생성기' />
    <meta property='og:description'
        content='한국어 관형어 + 명사로 이루어진 별명 생성기입니다.' />

    <link rel="canonical" href="https://nickname.hwanmoo.kr" />

    <link href="/css/style.css" rel="stylesheet" type="text/css">
</head>
<body>
    <section class="container">
        <h1><%= data %></h1>
        <a href="/"><button><div>다시 만들기!</div></button></a>
        
        <p>
          Instagram @
          <a class="insta" href="https://www.instagram.com/hwanmoo.yong">hwanmoo.yong</a>
        </p>
    </section>
    <section class="api">
        <div class="desc">API Description</div>
        <div class="host">GET https://nickname.hwanmoo.kr/?format=json&count=2</div>
        <table>
            <thead>
                <tr>
                    <th width="25%">Parameter</th>
                    <th width="25%">Required</th>
                    <th width="50%">Description</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td>format</td>
                    <td>Yes</td>
                    <td>json, text</td>
                </tr>
                <tr>
                    <td>count</td>
                    <td>No</td>
                    <td>1, 2, 3, ..., 50</td>
                </tr>
                <tr>
                    <td>max_length</td>
                    <td>No</td>
                    <td>should be greater than 6</td>
                </tr>
                <tr>
                    <td>whitespace</td>
                    <td>No</td>
                    <td>_, - or whatever you want</td>
                </tr>
                <tr>
                    <td>seed</td>
                    <td>No</td>
                    <td></td>
                </tr>
            </tbody>
        </table>
        <div class="desc">Example of response</div>
        <div class="host" style="white-space: pre-wrap;">{
    "words":["<%= code_data %>"],
    "seed":"hwanmoo.yong"
}</div>
    </section>
</body>
</html>